
<div class="span-18">
<%= render 'layouts/fabricalbum'%>

</div>

<div class="span-6 last">
	<%= render :partial => 'layouts/filterblock', :locals => { :filter_type => 'Colors' } %>
	
	<%= render :partial => 'layouts/filterblock', :locals => { :filter_type=> 'show_tags', :tag_type => 'all' } %>
	
	<%= render :partial => 'layouts/filterblock', :locals => { :filter_type => 'Width' } %>
	<%= render :partial => 'layouts/filterblock', :locals => { :filter_type => 'Count' } %>	
</div>

