<div class="form-signin" role="form">
  <h2 class="form-signin-heading">
    Sign in
  </h2>
  <%= form_for(resource, :as => resource_name, class: 'form-inline', role: 'form', :url => session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label(:email, class: "sr-only") %>
      <%= f.email_field(:email, class: 'form-control input-lg', placeholder: 'Email') %>
    </div>
    <div class="form-group">
      <%= f.label(:password, class: 'sr-only') %>
      <%= f.password_field(:password, class: 'form-control input-lg', placeholder: 'Password') %>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="checkbox">
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      </div>
    <% end -%>
    <%= f.submit("Sign in", class: 'btn btn-primary btn-lg btn-block') %>
  <% end %>
  <br />
  <%= render :partial => "devise/shared/links" %>
</div>
