<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @title %>
    </title>
    <%= csrf_meta_tags %>  
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>  
    <%= yield(:head) %>  
  </head>
  <body class='<%= controller_name %> <%= action_name %>'>
    <%= render 'layouts/header'%>
    <div class="container" role="main">
      <%= yield %>
    </div>
    <footer>
    </footer>
  </body>
</html>