<%
=begin
Locals
	- show_header
=end
%>

<!DOCTYPE html>
<html>
<head>
<title><%= @title %></title>
  <%= csrf_meta_tags %>  
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>  
  <%= yield(:head) %>  
</head>
<body class='<%= controller_name %> <%= action_name %>'>
	<%= render 'layouts/header'%>
  <div id="main" role="main">
    <div class="container">
		  <%= yield %>
    </div>
    <footer>
    </footer>  
  </div>
</body>
</html>
