<%
=begin
Locals
	- show_header
=end
%>

<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>

  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js', 
  							 'jquery.tools.min',  
  							 'jquery-ui-1.8.16.custom.min.js',
							 'colorpicker',
  						     'eye',
  						     'chosen.jquery',
  						     'jquery.url',  							 
  							 'rails.js' , 
  							 'rails.validations.js',
  							 'rails.validations.custom.js' %>  

  <%= csrf_meta_tags %>  
  <%= render 'layouts/stylesheets' %>
  <%= yield(:head) %>  
</head>
<body>
	<%= render 'layouts/header' if show_header %>
	<% if show_header %>
		<div class="backfade">
		  <div class="container">
	<% end %>
			<%- flash.each do |name, msg| -%>
			  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
			<%- end -%>	
			<div class="section">
				<%= yield %>
			</div>
	<% if show_header %>
		  </div>
		</div>
	<% end %>

</body>
</html>
