<div class="row">
  <div class="col-xs-8">
    <p>
      <button type="button" class="btn btn-default btn-sm">
        Stripes 
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <button type="button" class="btn btn-default btn-sm">
        Blue 
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <button type="button" class="btn btn-default btn-sm">
        Black 
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <button type="button" class="btn btn-default btn-sm">
        58" 
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </p>
  </div>
  <div class="col-xs-2">
    <div class="pull-right">
      <form class="form-inline" role="form">
        <div class="form-group">
          <label>View</label>
          <select class="form-control">
            <option value="<%= url_for(params.merge(:pagesize => 9))%>"  <%= "selected" if @pagesize.eql?(9)%> >10</option>
            <option value="<%= url_for(params.merge(:pagesize => 54))%>" <%= "selected" if @pagesize.eql?(54)%> >50</option>
            <option value="<%= url_for(params.merge(:pagesize => 99))%>" <%= "selected" if @pagesize.eql?(99)%> >100</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <!-- change view -->
  <div class="col-xs-2">
    <div class="pull-right view-style">
      <% sel_list_class = sel_grid_class = "" %>
      <% params[:view] == "list" ? sel_list_class = "selected_view" : sel_grid_class = "selected_view"%>
      <%= link_to "Grid View", url_for(params.merge(:view => "grid")), :class => sel_grid_class %> | <%= link_to "List View", url_for(params.merge(:view => "list")), :class => sel_list_class %>
    </div>
  </div>
</div>