<%
=begin
    Locals
   - enable_select 
=end
%>

<% fabric_view = (params[:view].nil?) ? "grid" : params[:view] %>
<% display_fabric_list = (fabric_view == "list") ? "display:block" : "display:none;" %>
<% display_fabric_grid = (fabric_view == "grid") ? "display:block" : "display:none;" %>

<!-- fabric container -->
<div class="row">
<% #if !@fabrics.empty? %>
<% fabric_count = 1 %>
<div id="fabric_folder">
  <div id="fabric_selection_list" style="<%=display_fabric_list%>">
    <% @fabrics.each do |fabric| %>
      <%= render 'layouts/cell'%>
    <% end %>
  </div>
  <div style="<%=display_fabric_grid%>">
    <div class="row">
      <% for i in 0..9 %>
        <%= render 'layouts/card'%> 
      <% end %>
    </div>
  </div>
</div>
<!-- For some reason remote = true (AJAX) is not working. Set it to false for now.
   TODO: Fix AJAX in pagination -->
<%= paginate @fabrics, :remote => false %>
<% #else %>
<!--   <div class="container">
    No fabrics found.
  </div> -->
<% #end %>
</div> <!-- fabric container end -->

<script type="text/javascript" charset="utf-8">

  // Make sure the checkbox is unselected on page load.
  $("input:checkbox").prop("checked", false);

  $(function() {
    $("DIV.bar_select_checkbox input:checkbox").click(function() {
      
      // Find which view is displayed
      var viewType;
      if ($("DIV#fabric_selection_list").css("display") == "block")
        viewType = "DIV#fabric_selection_list";
      else if ($("DIV#fabric_selection_page").css("display") == "block")
        viewType = "DIV#fabric_selection_page";
      
      //alert($("DIV#fabric_folder").find('input:checkbox').length);
      if ($(this).prop("checked") == true)
        $(viewType).find("input:checkbox").prop("checked", true);
      else
        $(viewType).find("input:checkbox").prop("checked", false);
    });
    
    $("SELECT#select_view_no").change(function() {
      window.location = $(this).find("option:selected").val();
    });
  
  });
</script>

