<div class="header_wrap">
	<div class="container">
		<header>
			<!--<h3><%= link_to "FabricEZ.com (beta!)", home_path %></h3>-->
			<% if user_signed_in? %>
				<div class="sign_in">
					<%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
				</div>
				<div class="user_name">
					<%= link_to current_user.username, portfolio_fabrics_path %>
					<ul class="user_nav">
						<li><%= link_to "My Account", user_path(current_user.id) %></li>
						<li><%= link_to "Fabric Portfolio", portfolio_fabrics_path %></li>
						<li><%= link_to "Upload Fabrics", upload_fabrics_path %></li>
					</ul>
				</div>
			<% else %>	
				<div class="sign_in">
					<%= link_to 'Sign In', new_user_session_path %>	
				</div>	
			<% end %>

		</header>
	</div>
</div>


<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$("ul.user_nav").parent().append("<span></span>");		
		$("DIV.user_name SPAN").click(function() {
			$(this).parent().find("ul.user_nav").slideDown('fast').show();
			
			$("DIV.user_name").parent().hover(function() {
				$(this).parent().find("ul.user_nav").slideUp('slow');
			});		
			
		});
		
		$("DIV.user_name").hover(function() {
			$("DIV.user_name SPAN").trigger('click');
		});
		
	});
</script>
