<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "FabricEZ.com (alpha!)", home_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to current_user.username , "#" %></li>
          <li><%= link_to "My Account", user_path(current_user.id) %></li>
          <li><%= link_to "Fabric Portfolio", portfolio_fabrics_path %></li>
          <li><%= link_to "Upload Fabrics", upload_fabrics_path %></li>
          <li><%= link_to 'Log Out', destroy_user_session_path, :method => :delete %></li> 
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>